.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  .list-countries {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .card {
      .card-content {
        padding: 20px;
        border: 1px solid #000;
      }
    }
  }
}
