.container-country {
  .content {
    display: flex;
    justify-content: space-between;

    .components {
      display: flex;
      flex-wrap: wrap;
      .gallery {
      }
      .video-and-map {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
    .widget {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}
