.container-country {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
