.container-country {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 14px 0;
    .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 30px 0 0;
      width: calc(100% - (30px + 17%));
      min-width: 280px;
      .head {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 360px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;
        overflow: hidden;
        .block-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.404);
          .title {
            font-size: 50px;
            font-weight: bold;
            color: #fff;
          }
          .capital {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
            text-shadow: 1px 1px #2b2b2ba3;
            color: #fff;
          }
        }
      }
      .block-description {
        position: relative;
        width: 100%;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        .description {
          max-width: 1024px;
          text-align: center;
          font-size: 17px;
          color: #000;
        }
      }
      .components {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .gallery {
          width: calc(55% - 30px);
          min-width: 280px;
          margin-right: 30px;
        }
        .video-and-map {
          width: 45%;
          min-width: 280px;
          min-height: 600px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }
    }
    .block-widget {
      display: flex;
      justify-content: center;
      width: 17%;
    }
  }
}

@media (max-width: 991px) {
  .container-country {
    .wrapper {
      .content {
        .block-description {
          .description {
            font-size: 16px;
          }
        }
        .components {
          .gallery {
            width: 100%;
            margin-right: 0;
          }
          .video-and-map {
            width: 100%;
            min-height: 800px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .container-country {
    .wrapper {
      .content {
        margin: 0;
        width: 100%;
        .block-description {
          .description {
            font-size: 15px;
          }
        }
      }
      .block-widget {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .container-country {
    .wrapper {
      .content {
        .components {
          .video-and-map {
            min-height: 600px;
          }
        }
      }
    }
  }
}
